.page{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}
.loginForm{
  display: grid;
  place-content: center;
}
.form{
  width: 330px;
}
.btn-section{
  display: grid;
  width: 100%;
  place-content: end;
}

  .submitBtn{
    
    color: black;
    padding: 8px 20px;
    border: 2px solid #da6c1c;
    width: 100px;
    
    cursor: pointer;
    background-color: white;
  }
  .inputField{
    width: 300px;
    padding:  15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    background-color: rgb(196, 189, 189);
    // box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .bgimg{
    background-image: url("../../images/loginimage.jpeg");
    height: 100vh;
    background-size: cover;
  }
  

  

  
 
  