.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logout-box {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.logout-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.logout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #0069d9;
}